.content-container
  border-radius: 10px
  background-color: #ffffff
  padding: 35px
  box-shadow: 0px 6px 15px 0px rgba(74,99,231,.2)

  &__title
    font-weight: 800

    &:after
      content: ''
      background-color: #ff5959
      display: block
      height: 4px
      width: 20px
      margin-top: 2px   
