.content-container
  position: relative
  border-radius: 10px
  background-color: #ffffff
  padding: 35px
  box-shadow: 0px 6px 15px 0px rgba(74,99,231,.2)

  &__title
    font-weight: 800
    &:before
      content: ''
      background-color: gainsboro
      position: absolute
      width: 5px
      height: 100px
      top: 17px
      left: 0px

    &:after
      content: ''
      background-color: #ff5959
      display: block
      height: 3px
      width: 20px
      margin-top: 2px
      transition: width 2s

  &__content
    margin-top: 25px

  &:hover
    .content-container__title
      &:before
        background-color: green

      &:after
        width: 100% 
