.resume
  height: 100%
  background-color: #eee
  display: flex
  padding: 30px

  &__left
    width: 40%

  &__right
    width: 60%

  .setting-icon
    bottom: 90px
    right: 20px

  .content-container
    max-width: 680px

    & + .content-container
      margin-top: 30px
    
    &.home
      background-image: url('https://avatars0.githubusercontent.com/u/32015904?s=400&u=018f30fa634d9c6b16f8cf401c652c73fb55e7e5&v=4')
      background-attachment: fixed
      background-size: cover
      padding: 0

      > div
        padding: 210px 35px
        border-radius: 10px
        background-color: #F9BD1F
        opacity: .9

        h1
          font-size: 48px
          color: #fff
          text-shadow: gray 1.1px 1.1px 1.2px

          span
            color: green

        h2
          font-size: 36px
          color: #6F9ABF

    &.about-me
      .content-container__content
        display: flex

        img
          width: 150px
          border-radius: 50%

        .intrduction
          padding: 15px 25px

          .detail
            display: flex
            margin-top: 20px
            color: #AEB6BF
            & + .detail
              margin-top: 5px

            > div
              width: 50%
              display: flex

              p
                color: #000
                font-weight: 600
                margin-left: 5px

          h3
            font-weight: 800

        .download-button
          margin-top: 20px

    &.experience
      padding-bottom: 10px

      .ant-timeline
        margin-top: 60px

        &-item
          font-size: 18px

          &-content
            top: -8.5px

    &.skills
      .content-container__content
        display: flex
        flex-wrap: wrap

        .detail
          font-size: 18px
          width: fit-content
          border-radius: 20px
          padding: 5px 10px
          margin: 5px
          color: #ffffff
          font-weight: 600
          transition: background-color 0.5s

          &
            background-color: #F1B508

            &:hover
              background-color: #B89F15

          &:nth-child(even)
            background-color: #1AABE6

            &:hover
              background-color: #0C77A2

    &.projects
      .title
        color: #0656D1
        font-size: 20px
        font-weight: 600
        margin-top: 10px

      .description
        color: gray
        font-size: 16px

  &.dark-mode
    background-color: #252525

    .setting-icon
      opacity: 0.4

    .fixed-icon:hover
        opacity: 1
        box-shadow: 0px 6px 15px 0px rgba(255,255,255,.2)
